#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements.  See the NOTICE file distributed with
#   this work for additional information regarding copyright ownership.
#   The ASF licenses this file to You under the Apache License, Version 2.0
#   (the "License"); you may not use this file except in compliance with
#   the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# $Id$
# $Rev$
# $Date$
# -----------------------------------------------------------------------------
# This is an example "build.properties" file.  Make any changes you need, 
# and rename this file to "build.properties" in the same directory that 
# contains the "build.xml" file.
# -----------------------------------------------------------------------------
apache.dir=D:/Java/Programs/Apache


# The JAR file containing version 1.7.0 (or later) of the Beanutils package
# from the Jakarta Commons project.
commons-beanutils.jar=../beanutils/dist/commons-beanutils.jar

# The JAR file containing version 1.8 (or later) of the Digester package
# from the Jakarta Commons project.
commons-digester.jar=../digester/dist/commons-digester.jar

# The JAR file containing version 1.1 (or later) of the Logging package
# from the Jakarta Commons project.
commons-logging.jar=../logging/dist/commons-logging.jar

# The JAR file containing version 3.8.1 (or later) of
# JUnit Unit Testing (http://www.junit.org)
junit.jar=D:/java/Lib/junit3.8.1/junit.jar

# Needed for building the version Javadocs
xerces.jar=${apache.dir}/xerces-2_5_0/xercesImpl.jar

# jsdoc 1.5.2 or Newer is needed for building the Javascript Javadocs
jsdoc.home=/cygdrive/d/Projects/Sourceforge/JsDoc/JSDoc-1.5.2

#############################Maven Variables #######################################
# CVS Start Change Log date
maven.changelog.range=2000


# If you are using ssh tunneling & have a .cvspass file setup
cvs.developer.host=localhost
# Maven deploy user
cvs.developer.id=rleland

######## Maven Variables located in your $HOME/build.properties ####
# maven.username=rleland
# maven.mode.online=true
# maven.debugOn=true
