# -----------------------------------------------------------------------------
# This is an example "build.properties" file.  Make any changes you need, 
# and rename this file to "build.properties" in the same directory that 
# contains the "build.xml" file.
# -----------------------------------------------------------------------------

commons-beanutils.jar=d:/java/lib/commons-beanutils.jar
commons-collections.jar=d:/java/lib/commons-collections.jar
commons-digester.jar=d:/java/lib/commons-digester.jar
regexp.jar=e:/software/regexp/jakarta-regexp-1.2.jar

# Unit Testing
junit.jar=e:/software/junit3.5/junit.jar

# Just needed for building the Javadocs
xerces.jar=e:/software/xerces/xerces.jar